{% extends "layout.html" %}
{% block title %} Bubble Chart {% endblock %}
{% block head %}
<!-- Add these JavaScript inclusions for highcharts -->
{% include "partials/highcharts.html" %}
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="../static/js/bubble.js"></script>
{% endblock %}

{% block content %} 
{% include "partials/nav.html" %}
<div class="row">
	<div class="col-md-12" style="text-align: center">
	<h1>Bubble Chart</h1>
	<h3>Click on the Legend to select Genre you want to inspect</h3>
	<h3>Or drag your mouse to zoom in</h3>
	</div>
</div>
<div id="{{bubble_id|safe}}" style="width: 90%; height: 900px; margin: 0 auto"></div>
<script>
	var bubble = {{bubble_id|safe}}
	var series = {{series|safe}}
</script>
{% include "partials/footer.html" %}
{% endblock %}  