{% extends "layout.html" %}
{% block content %}

<section class="content-6">
  <div>
    <div class="container">
      <h3><img src="{{ url_for('static', filename='../static/img/storage.jpg') }}" width="100" height="100" alt=""> Data Explorer </h3>
      <p class="lead">List of all securities in database</p>
      <div class="row features">
        <div class="col-sm-12">
          <table class="table table-striped table-bordered" id="dataTable">
            <thead>
              <th>Rank</th>
              <th>Name</th>
              <th>Platform</th>
              <th>Year</th>
              
              <th class="right">Genre</th>
              <th class="right">Publisher</th>
              <th class="right">North America Sales</th>
              <th class="right">Europe Sales</th>
              <th class="right">Japan Sales</th>
              <th class="right">Other Sales</th>
              <th class="right">Global Sales</th>
            </thead>
            <tbody>
              {% for index, rows in videogames.iterrows() %}
              <tr>
                <td>{{rows['Rank']}}</td>
                <td>{{rows['Name'].decode('utf-8')}}</td>
                <td>{{rows['Platform']}}</td>
                <td>{{rows['Year']}}</td>
        
                <td class="right">{{ rows['Genre'] }}</td>
                <td class="right">{{ rows['Publisher'] }}</td>
                <td class="right">{{ rows['NA_Sales'] }}</td>
                <td class="right">{{ rows['EU_Sales'] }}</td>
                <td class="right">{{ rows['Japan_Sales'] }}</td>
                <td class="right">{{ rows['Other_Sales'] }}</td>
                <td class="right">{{ rows['Global_Sales'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready( function () {
    $('#dataTable').DataTable({
      "pageLength": 25,
      "order": [ 3, 'desc' ]
    });
} );
</script>

{% endblock %}
