{% extends "layout.html" %}
{% block content %}

<section class="content-6">
  <div>
    <div class="container">
      <h3><img src="{{ url_for('static', filename='img/storage.png') }}" width="100" height="100" alt=""> Data Explorer </h3>
      <p class="lead">List of all securities in database</p>
      <div class="row features">
        <div class="col-sm-12">
          <table class="table table-striped table-bordered" id="dataTable">
            <thead>
              <th>Rank</th>
              <th>Name</th>
              <th>Platform</th>
              <th class="right">Year</th>
              <th class="right">Genre</th>
              <th class="right">Publisher</th>
              <th class="right">Global_Sales</th>
            </thead>
            <tbody>
              {% for videogame in videogames %}
              <tr>
                <td>{{ videogame['Rank']}}</td>
                <td>{{ videogame['Name']}}</td>
                <td>{{ videogame['Platform'] }}</td>
                <td class="right">{{ videogame['Year'] }}</td>
                <td class="right">{{ videogame['Genre'] }}</td>
                <td class="right">{{ videogame['Publisher'] }}</td>
                <td class="right">{{ videogame['Global_Sales'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready( function () {
    $('#dataTable').DataTable({
      "pageLength": 25,
      "order": [ 3, 'desc' ]
    });
} );
</script>

{% endblock %}
