
{% extends "layout.html" %}
{% block title %} Pivot Table Form {% endblock %}
{% block head %}
    <script src="../static/form.js"></script>
{% endblock %}

{% block content %} 
{% include "partials/nav.html" %}
    <div id='content' class='row-fluid'>
      <div class="row">
        <form name="Item_1" action="/pivot" method='POST'>
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-2 col-sm-3">
                Select Column:
                <br>
                <select name="cat1" id="cat1" onChange="checkAlert1(this.value)">
                  <option value="Platform">Platform</option>
                  <option value="Year">Year</option>
                  <option value="Genre">Genre</option>
                  <option value="Publisher">Publisher</option>
                </select>
            </div>
              <div class="col-md-2 col-sm-3">
                Select Row:
                  <br>
                 <select name="cat2" id="cat2" onChange="checkAlert2(this.value)">
                  <option value="Platform">Platform</option>
                  <option value="Year">Year</option>
                  <option value="Genre">Genre</option>
                  <option value="Publisher">Publisher</option>
                </select>

            </div>
               <div class="col-md-2 col-sm-3">
                   <div class="row">
                       Select an Value:
                       <br>
                       <select name="aggr">
                           <option value="count">Count</option>
                          <option value="sum">Sum</option>
                          <option value="avg">Average</option>
                          <option value="min">Minimum</option>
                          <option value="max">Maximum</option>
                        </select>
                   </div>
                   <div class="row">
                        <br>
                           <select name="value">
                          <option value="NA_Sales">North America</option>
                          <option value="EU_Sales" >Europe</option>
                          <option value="JP_Sales">Japan</option>
                          <option value="Other_Sales">Other</option>
                          <option value="Global_Sales">Global</option>
                        </select>
                   </div>

            </div>
               <div class="col-md-2 col-sm-2">
                <div class="row">
                    Select Filter:
                    <br>
                    <select name="filter" id="filter" onChange="change(this.value)">
                        <option value="none" selected> None</option>
                        <option value="Platform">Platform</option>
                        <option value="Year">Year</option>
                        <option value="Genre">Genre</option>
                        <option value="Publisher">Publisher</option>
                        <script> </script>
                    </select>
                </div>
                   <div class="row">
                        <br>
                        <select name="options" id="options">
                            <option value="" selected></option>
                        </select>
                    </div>
                <br>
            </div>
            <div class="col-md-2col-sm-1"></div>

            <div class="row">
                <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-6 col-sm-6">
                        <div id = "warning">
                           <div class="alert alert-danger">
                              <strong>STOP</strong> Row and Column Value cannot be the same!
                            </div>
                        </div>
                    </div>
                 <div class="col-md-3 col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5"></div>
                <div class="col-md-2 col-sm-2">
                    <button type="submit" id="submit" disabled style="background-color:black; color:white;"> Waiting ...</button>
                </div>
                 <div class="col-md-5 col-sm-5"></div>
            </div>


        </form>
      </div>



     </div>

  </div>
{% include "partials/footer.html" %}
{% endblock %}  
