{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}
        <div class="row">
            <div class="col-sm-4">
                <p style="margin-bottom:100px"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img style="position:relative; left:30px; top:50px;" src="../static/img/mario.png" height=400px width=400px>
            </div>
            <div class="col-lg-4">
                <h1 style="text-align:center; color:white;font-family:Arcade;font-size:500%">Video Game Sales</h1>
                <h4 style="text-align:center; color:white;font-family:Arcade;font-size:200%">Throughout the ages</h4>
            </div>
            <div class="col-sm-4">
                <img src="../static/img/block2.png" height=200px width=200px style="position:relative; left:80px; bottom:50px;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div style="position:relative; text-align:center"> 
                <a type="button" href="{{ url_for('form') }}" class="btn-default btn-lg">Pivot Table</a>
                <a style="position:relative;left:20px" type="button" href="{{ url_for('visual') }}" class="btn-default btn-lg">Visualisation</a>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
{% endblock %}
