{% extends "layout.html" %}
{% block title %} Pivot Table Results {% endblock %}
{% block head %}
<!-- Add these JavaScript inclusions for highcharts -->
    {% include "partials/highcharts.html" %}
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <link rel="stylesheet" href="../static/pivot.css">
{% endblock %}    

{% block content %} 
{% include "partials/nav.html" %}

    <div id='content' class='row-fluid'>
        <div class="row">
             <div class="col-md-4"></div>
             <div class="col-md-4" style="text-align:center">
                 <h1 style="display:inline; font-family:Arcade;">Results:</h1>
             </div>
             <div class="col-md-4"></div>
        </div>
        <div class="row" style="position:relative; top:25px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
               <div id="container" style="width:100%;" ></div>
                <script>

                        Highcharts.chart('container', {

                            chart: {
                                type: 'heatmap',
                                marginTop: 40,
                                marginBottom: 100,
                                plotBorderWidth: 1,
                                height: {{yLength|safe}}
                                <!--width: {{xLength|safe}}-->
                            },


                            title: {
                                text: '{{title|safe}}'
                            },

                            xAxis: {
                                categories: {{x|safe}},
                                title: {
                                    text: '{{row|safe}}'
                                }

                            },

                            yAxis: {
                                categories: {{y|safe}},
                                title: {
                                    text: '{{col|safe}}'
                                }

                            },

                            colorAxis: {
                                min: null,
                                minColor: '#FFFFFF',
                                maxColor: Highcharts.getOptions().colors[0]
                            },

                            legend: {
                                align: 'right',
                                layout: 'vertical',
                                margin: 10,
                                verticalAlign: 'top',
                                y: 20,
                                symbolHeight: {{yLength|safe}}/2
                            },

                            tooltip: {
                                formatter: function () {
                                    return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> sold <br><b>' +
                                        this.point.value + '</b>  on  <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
                                }
                            },

                            series: [{
                                name: '',
                                turboThreshold: 100000,
                                borderWidth: 1,
                                data: {{v|safe}},
                                dataLabels: {
                                    enabled: true,
                                    color: '#000000'
                                }

                            }]

                        });
                </script>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% include "partials/footer.html" %}
{% endblock %}  
