{% extends "layout.html" %}
{% block title %} Hypothesis {% endblock %}
{% block head %}
<!-- Add these JavaScript inclusions for highcharts -->
{% include "partials/highcharts.html" %}
{% endblock %}

{% block content %}	
{% include "partials/nav.html" %}
<div class="row">
    <div class="col-md-4">
        <img src="../static/img/cloud.png" height=200px width=200px style="position:relative; left:50px">
    </div>
    <div class="col-md-4" style="text-align: center">
        <h1>Analysis</h1>
        <h3>The best year, platform, genre and publisher to release a game?</h3>
    </div>   
    <div class="col-md-4" style="text-align:right">
        <img src="../static/img/cloud.png" height=200px width=200px style="position:relative;right:50px;transform:scaleX(-1)">
    </div>
</div>
<div class="row"> 
    <div class = "col-md-6">
        <div align="center">
            <select id="travel-select">
                <option value="Year">Year</option>
                <option value="Genre">Genre</option>
                <option value="Publisher">Publisher</option>
                <option value="Platform">Platform</option>
            </select>
        </div> 
        <p class="drop-down-show-hide" id = "Year"> The best year to release game is 2008 with highest Global Sales. <br> 
            However, the year with the highest mean unit sales is 1989. <br>
            Though total sales have decreased in recent year, mean unit sales per game has been relatively constant.
        </p>
        <p class="drop-down-show-hide" id = "Genre"> The most prolific genre is Action. <br> 
            However, the genre with highest average sales is Platform. <br>
        </p>
        <p class="drop-down-show-hide" id = "Publisher"> While Electronic Arts make the most game, <br> 
            Nintendo earns the most from the game market, <br>
            but Palcom has the highest average sales.
        </p>
        <p class="drop-down-show-hide" id = "Platform"> PS2 has the most games released and highest global sales. <br> 
            GB has the highest average sales. <br>
        </p>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class = "chart", id="{{chartID_1|safe}}"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">

        <div class = "chart", id="{{chartID_4|safe}}"></div>
    </div>
    <div class="col-md-6">  
        <div class = "chart", id="{{chartID_3|safe}}"></div>
    </div>
</div>
</div>

<div class="row"> 
    <div class = "col-md-6" style="text-align:center; padding-left: 120px">
        <h3>Something extra: </h3>
        <p> The best region to sell game is North America. <br> 
            Its sales is closely related to the Global Sales. <br>
        </p>
    </div>
    <div class="col-md-6">   
        <div class = "chart", id="{{chartID_2|safe}}"></div>
    </div>
</div>

<div class="row" style="padding-top: 50px">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div style="text-align:center"> 
        <a type="button" href="{{ url_for('bubble') }}" class="btn-default btn-lg">See Our Bubble Chart</a>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
</div>

<script>
    var chart_1 = {{chartID_1|safe}}
    var series1 = {{series1|safe}}

    var chart_2 = {{chartID_2|safe}}
    var year = {{year|safe}}
    var series2 = {{series2|safe}}


    var chart_3 = {{ chartID_3|safe }}
    var series3 = {{ series3|safe }}

    var chart_4 = {{chartID_4|safe}}
    var series4 = {{series4|safe}}

</script>
<script src="../static/js/scatter.js"></script>
<script src="../static/js/line.js"></script>
<script src="../static/js/stackarea.js"></script>
<script src="../static/js/text.js"></script>

{% include "partials/footer.html" %}
{% endblock %}	
