<footer>
    <div class="container" style="position:relative; top:100px;">
        <div class="row v-center">
            <div class="col-sm-3">
                <!--a class="btn btn-default btn-lg" href="{{ url_for('index') }}">Home</a-->
            </div>
            <div class="col-sm-6">
                <div class="additional-links">
                    <p>Made by Nguyen Hoa My, Melody Chai, Alex Sosin </p>
                </div>
            </div>
            <div class="col-sm-3">
              <div class="address">
                  A Project for
              </div>
                <h6><b>INFO20002</b> <br>Foundations of Informatics</h6>
            </div>
        </div>
    </div>
</footer>
