@font-face {
    font-family: Arcade;
    src: url("fonts/ARCADECLASSIC.TTF") format("truetype");
}

body {  
    background-image: url("img/background.png"); 
    background-repeat:repeat;
    color:white;
    background-color: black;
} 

select {
	color: black;
}

input {
	color: black;
}

.chart {
	width: 800px; 
	height: 400px; 
	margin: 0 auto; 
	padding: 50px
}
