@font-face {
    font-family: Arcade;
    src: url("../fonts/ARCADECLASSIC.TTF") format("truetype");
}

body {  
    background-image: url("../img/background.png"); 
    background-repeat:repeat;
    color:white;
    background-color: black;
} 

h1 {
    font-family: Arcade;
    display: inline;
    text-align: center;
}
select {
	color: black;
}

input {
	color: black;
}

p {
    font-weight: 500;
    font-size: large;
    text-align: center;
}

.chart {
	width: 90%; 
	height: 90%; 
	margin: 0 auto; 
	padding-bottom: 50px;
}



.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

